$blue: #2188d8;
$light-blue: #f4f9fd;
$light-gray: #f8f8f8;
$gray-f4:#f4f4f4;
$text-color: #4f4f4f;
$text-light: #828282;
$border-color: #d6e8f0;
$red-color: #d33e33;
$light-red: #ffe6e3;
$green: #328614;
$light-green: #e2f8db;
$warning: #e98028;
$warning-light: #fff2de;

$dark-33:#333;

$gray-dd:#ccc;


$fw-800: 800;
$fw-700: 700;
$fw-600: 600;
$fw-500: 500;
$fw-400: 400;
$fw-300: 300;
